<section id="about-me">
  <div class="main about-me">
    <div class="container" style="width: 100%;">
      <div class="row">
        <div class="col-md-12" style="padding: 0px;">
          <div class="table full-height" style="margin-bottom: 0px">
            <div class="tablecell valign-middle">
              <div class="container">
                <div class="row" style="background-color: rgba(255,255,255,0.15)">
                  <div class="col-md-12"><h1 style="color: rgb(234,108,108)">{% t navigation.about %}</h1></div>


                      <div class="col-md-6">
                          <h4>MUSIC</h4>
                          <p>Since I was a kid, I always enjoyed spending some good time listening and playing.
                            Nowadays, I play guitar and keyboards almost every day and study some theory every now and then.
                          </p>
                      </div>
                      <div class="col-md-6">
                        <h4>LITERATURE</h4>
                        <p>I usually spend several hours a week reading. Though I prefer books, I must confess that my Kindle has become a great Pal.
                          I used to do some short-story writing in the past, but these days I'm mostly focused on writing about Software.
                        </p>
                      </div>
                      <div class="col-md-6">
                          <h4>ROBOTICS</h4>
                          <p>I like building and programing electronic devices capable of interacting with the physical world. I consider myself
                            an early bird of the IoT wave. Whenever I find some free time, I am coding some IoT related project.
                          </p>
                      </div>
                      <div class="col-md-6">
                        <h4>SOFTWARE</h4>
                        <p>This area goes beyond an interest. I have spent my entire professional career dedicated to my true calling: Building Software.
                          I have enjoyed this discipline-art-craft by playing different roles among all these years (Developer, Architect, Manager),
                          which provided me with a wide-range skillset and a deep knowledge of the SDLC.
                        </p>
                      </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
