<section id="experience">
  <div class="main experience">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table full-height">
            <div class="tablecell valign-top">
              <h1>{% t navigation.experience %}</h1>
              <div id="experience-medallia">
                <header>
                  <h3 class="experience-logo" aria-hidden="true">
                    <strong><img src="{{ site.baseurl }}/img/medallia-logo.png" alt="" class="img-responsive"></strong>
                  </h3>
                  <h3>
                    {% t experience.medallia-role-title %}
                  </h3>
                  <h4>
                    <strong><a href="http://www.medallia.com/" target="_blank">{% t experience.medallia-arg %}</a></strong>
                  </h4>
                  <h5><time>{% t months.november %} 2015</time> – <time>{% t experience.currently %}</time> | Argentina</h5>

                </header>
                <p> {% t experience.medallia-role-desc %}

                </p>
              </div>
              <hr class="experience">




              <div id="experience-mulesoft">
                <header>
                  <h3 class="experience-logo" aria-hidden="true">
                    <strong><img src="{{ site.baseurl }}/img/mulesoft-logo.png" alt=""></strong>
                  </h3>
                  <h3>
                    {% t experience.mulesoft-role-title %}
                  </h3>
                  <h4>
                    <strong><a href="https://www.mulesoft.com/" target="_blank"></a></strong>
                  </h4>
                  <h5><time>{% t months.september %} 2012</time> – <time>{% t months.november %} 2015</time> | Argentina</h5>

                </header>

                <p>
                  {% t experience.mulesoft-role-desc %}
                </p>
              </div>
              <hr class="experience">


              <div id="experience-ibm-manager">
                <header>
                  <h3 class="experience-logo" aria-hidden="true">
                    <strong><img src="{{ site.baseurl }}/img/ibm-logo.png" alt=""></strong>
                  </h3>
                  <h3>
                    {% t experience.ibm-role-title-1 %}
                  </h3>
                  <h4>
                    <strong><a href="http://www.ibm.com/" target="_blank">{% t experience.ibm-arg %}</a></strong>
                  </h4>
                  <h5><time>{% t months.june %} 2009</time> – <time>{% t months.september %} 2012</time> | Argentina</h5>

                </header>
                <p>
                  {% t experience.ibm-role-desc-1 %}
                </p>
              </div>
              <div id="experience-ibm-architect">
                <header>

                  <h3>
                    {% t experience.ibm-role-title-2 %}
                  </h3>
                  <h4>
                    <strong><a href="http://www.ibm.com/" target="_blank">{% t experience.ibm-arg %}</a></strong>
                  </h4>
                  <h5><time>{% t months.february %} 2008</time> – <time>{% t months.june %} 2009</time> | Argentina</h5>

                </header>
                <p>
                  {% t experience.ibm-role-desc-2 %}
                </p>
              </div>
              <hr class="experience">


              <div id="experience-reserv">
                <header>
                  <h3 class="experience-logo" aria-hidden="true">
                    <strong><img src="{{ site.baseurl }}/img/reserv-logo.png" alt=""></strong>
                  </h3>
                  <h3>
                    {% t experience.reserv-role-title %}
                  </h3>
                  <h4>
                    <strong><a href="http://www.reserv.com.ar" target="_blank">{% t experience.reserv-arg %}</a></strong>
                  </h4>
                  <h5><time>{% t months.august %} 2004</time> – <time>{% t months.february %} 2008</time> | Argentina</h5>

                </header>
                <p>
                  {% t experience.reserv-role-desc %}
                </p>
              </div>
              <hr class="experience">


              <div id="experience-digbang">
                <header>
                  <h3 class="experience-logo" aria-hidden="true">
                    <strong><img src="{{ site.baseurl }}/img/digbang-logo.png" alt=""></strong>
                  </h3>
                  <h3>
                    {% t experience.digbang-role-title %}
                  </h3>
                  <h4>
                    <strong><a href="http://www.digbang.com/" target="_blank">{% t experience.digbang-arg %}</a></strong>
                  </h4>
                  <h5><time>{% t months.may %} 2003</time> – <time>{% t months.august %} 2004</time> | Argentina</h5>

                </header>
                <p>
                  {% t experience.digbang-role-desc %}
                </p>
              </div>
              <hr class="experience">




              <div id="experience-vlagusa">
                <header>
                  <h3 class="experience-logo" aria-hidden="true">
                    &nbsp;
                  </h3>
                  <h3>
                    {% t experience.vlagusa-role-title %}
                  </h3>
                  <h4>
                    <strong>{% t experience.vlagusa-arg %}</strong>
                  </h4>
                  <h5><time>{% t months.june %} 2003</time> – <time>{% t months.april %} 2004</time> | Argentina</h5>

                </header>
                <p>
                  {% t experience.vlagusa-role-desc %}
                </p>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
