<section id="experience">
  <div class="main experience">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table full-height">
            <div class="tablecell valign-top">
              <h1>{% t navigation.experience %}</h1>
              <div id="experience-medallia">
                <header>
                <h3 class="experience-logo" aria-hidden="true">
                  <strong><img src="{{ site.baseurl }}/img/medallia-logo.png" alt="" class="img-responsive"></strong>
                </h3>
                <h3>
                  Sr. Engineering Manager
                </h3>
                <h4>
                  <strong><a href="http://www.medallia.com/" target="_blank">Medallia Argentina</a></strong>
                </h4>
                <h5><time>November 2015</time> – <time>Currently</time> | Argentina</h5>

              </header>
              <p> As an Engineering Manager, I'm responsible for running a high performance Engineering team, geographically distributed 
                between Palo Alto and Buenos Aires. <br />
                My time is accurately divided and ballanced between understanding the product from both, the requirements and the technical point of views, making sure that what
                is being built adds real value to the company's software platform, driving the Scrum Process to guarantee high performance and predictability by
                coaching the team, commuinicating with different stakeholders to simplify the path when needed, articulating plans to reflect and track the progress
                of the projects included on the roadmap, identifying and mitigating risks among others.

              </p>
            </div>
            <hr class="experience">




            <div id="experience-mulesoft">
              <header>
              <h3 class="experience-logo" aria-hidden="true">
                <strong><img src="{{ site.baseurl }}/img/mulesoft-logo.png" alt=""></strong>
              </h3>
              <h3>
                Engineering Project Manager
              </h3>
              <h4>
                <strong><a href="https://www.mulesoft.com/" target="_blank">MuleSoft Argentina</a></strong>
              </h4>
              <h5><time>September 2012</time> – <time>November 2015</time> | Argentina</h5>

            </header>

            <p>
              I've spent most of my time at MuleSoft, managing Engineering Teams assigned to strategic partners/high profile integration projects.<br>
              It was my responsibility to lead high performance teams into solutions building, by using the products and technologies created by the company,
              providing feedback, tracking and pushing for these products improvements.<br><br>
              I have worked with MuleESB and CloudHub platform in order to develop Cloud Integrations, turning the company and the team into world-wide pioneers
              in this area with the natural need of defining the first sets of best practices to enlighten people following this path and building their owns.<br /><br />
              After that, I've moved to work closely to the API platform team, running exciting <a href="http://raml.org/projects/projects" target="_blank">community projects</a> to grow the <a href="http://raml.org/" target="_blank">RAML</a> ecosystem. Working on this, I was
              able to become an expert in the matters of APIs, not only from the developing perspective but also from the building process and business side.
            </p>
          </div>
          <hr class="experience">


          <div id="experience-ibm-manager">
            <header>
            <h3 class="experience-logo" aria-hidden="true">
              <strong><img src="{{ site.baseurl }}/img/ibm-logo.png" alt=""></strong>
            </h3>
            <h3>
              Project Manager
            </h3>
            <h4>
              <strong><a href="http://www.ibm.com/" target="_blank">IBM Argentina</a></strong>
            </h4>
            <h5><time>June 2009</time> – <time>September 2012</time> | Argentina</h5>

          </header>
          <p>
            During this period my career gradually transitioned from a deeply technical skill centered to a team building and project management oriented.<br />
            I've worked as and developed my Project Management skills on the internal "IBM Accounts" assigned to different projects (mid-2009 to mid-2011).<br /><br />

            After that, I was assigned as Project Manager for the Integration team (10+ people) for "<a href="http://www.tarjetanaranja.com/" target="_blank">Tarjeta Naranja</a>" Software Factory.
            The team was composed by extremely senior software developers and was the nexus between the existing applications maintained
            by the software factory (legacies) and the new developments that require coexistence with the current infrastructure (mid-2011 to August-2012).
          </p>
        </div>
        <div id="experience-ibm-architect">
          <header>

          <h3>
            IT Architect
          </h3>
          <h4>
            <strong><a href="http://www.ibm.com/" target="_blank">IBM Argentina</a></strong>
          </h4>
          <h5><time>February 2008</time> – <time>June 2009</time> | Argentina</h5>

        </header>
        <p>
          I've joined IBM Argentina to work as the IT Architect for "GOYA" project for "Telefónica LATAM" telecommunications group.<br />
          It was my responsibility to define the application and integration architecture and lead the specialists
          lead developers group (6 people) in designing and building the critical components while mentoring the entire development team (20+ people).
          I was in charge of the communication with other interacting teams, such as "Business Analysis" (10+ people) and "Quality Assurance" (10+ people).
        </p>
      </div>
        <hr class="experience">


        <div id="experience-reserv">
          <header>
          <h3 class="experience-logo" aria-hidden="true">
            <strong><img src="{{ site.baseurl }}/img/reserv-logo.png" alt=""></strong>
          </h3>
          <h3>
            Lead developer / IT Architect
          </h3>
          <h4>
            <strong><a href="http://www.reserv.com.ar" target="_blank">Reserv S.R.L.</a></strong>
          </h4>
          <h5><time>August 2008</time> – <time>February 2008</time> | Argentina</h5>

        </header>
        <p>
          While working at Reserv, I've been able to go through a wide range of industries by providing IT services mostly driven by building
          Enterprise Applications for the company's customers.<br />

          As a lead developer, I've written countless lines of code in many technologies, turning into an expert Software Designer, Technical Leader and finally
          IT Architect.<br /><br />

          During my stay at Reserv, I was able to refine my technical skills while developing strong leadership capabilities. I have also had a great opportunity
          to interact directly with the customers, gathering requirements, and building trust relationships based on honoring the company's commitments.
        </p>
      </div>
      <hr class="experience">


      <div id="experience-digbang">
        <header>
        <h3 class="experience-logo" aria-hidden="true">
          <strong><img src="{{ site.baseurl }}/img/digbang-logo.png" alt=""></strong>
        </h3>
        <h3>
          Software Developer
        </h3>
        <h4>
          <strong><a href="http://www.digbang.com/" target="_blank">Digbang</a></strong>
        </h4>
        <h5><time>May 2003</time> – <time>August 2004</time> | Argentina</h5>

      </header>
      <p>
        I started working at Digbang as a software developer with a solid technical knowledge but and a short experience working for companies.
        By working with and excellent group of IT professionals, getting involved into a wide range of projects, and driven by
        a never ending curiosity, I was able to leverage my skills at a great pace, becoming a Senior Developer in a little more than one year.
      </p>
    </div>
    <hr class="experience">




    <div id="experience-vlagusa">
      <header>
      <h3 class="experience-logo" aria-hidden="true">
        &nbsp;
      </h3>
      <h3>
        Software Developer
      </h3>
      <h4>
        <strong>VlagUSA</strong>
      </h4>
      <h5><time>June 2003</time> – <time>April 2004</time> | Argentina</h5>

    </header>
    <p>
      This is where my professional career began. Since it was a small company with two teams of one developer each,
      during my stay at VlagUSA I was able to learn about the end-to-end development life-cycle, from requirements gathering to deployment and maintainence.<br />
      I wrote 40+ e-commerce applications (shopping carts) for a customers of a wide range of industries. I learned the bad way the reasons for working with best
      practices, reusing code, automating test and version the code and databases.

    </p>
  </div>



          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
