
<!-- Footer -->
<section id="contact">
        <div class="main contact-me">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="table footer-height">
                  <div class="tablecell valign-middle">
                    <div class="row text-center">
                      <ul class="list-inline text-center">
                    <li>
                        <a href="skype:norberto.herz">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/nohorbee" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>


                    <li>
                        <a href="https://www.facebook.com/nohorbee" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/pub/norberto-herz/5/887/177" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>


                    <li>
                        <a href="https://github.com/nohorbee" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                </ul>
                <p class="copyright text-muted">Copyright © Norberto Herz 2016</p>
                      <!--<div class="col-xs-3">
                        <a href="skype:norberto.herz">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </div>
                      <div class="col-xs-3">
                        <a href="skype:norberto.herz">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </div>
                      <div class="col-xs-3">
                        <a href="skype:norberto.herz">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </div>
                      <div class="col-xs-3">
                        <a href="skype:norberto.herz">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </div>
                      <div class="col-xs-12">
                        <a href="skype:norberto.herz">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </div>-->
                      <!--<div class="col-xs-3"><a href="https://www.linkedin.com/pub/norberto-herz/5/887/177" target="_blank"><img src="images/contact-linkedIn.png" alt="linkedIn" class="img-circle img-responsive img-contact"></a></div>
                      <div class="col-xs-3"><a href="https://www.twitter.com/nohorbee" target="_blank"><img src="images/contact-twitter.png" alt="skype: norberto.herz" class="img-circle img-responsive img-contact"></a></div>
                      <div class="col-xs-3"><a href="mailto:norberto.herz@gmail.com"><img src="images/contact-mail.png" alt="skype: norberto.herz" class="img-circle img-responsive img-contact"></a></div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<!--<section id="contact-me">
  <div class="main contact-me">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table">
            <div class="tablecell valign-middle">
              <ul class="list-inline text-center">
                  <li>
                      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  {% if site.twitter_username %}
                  <li>
                      <a href="https://twitter.com/{{ site.twitter_username }}">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  {% endif %}
                  {% if site.facebook_username %}
                  <li>
                      <a href="https://www.facebook.com/{{ site.facebook_username }}">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  {% endif %}
                  {% if site.github_username %}
                  <li>
                      <a href="https://github.com/{{ site.github_username }}">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  {% endif %}
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<footer>

</footer>->

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
