{%assign own-projects = site.sections[page.lang].own-projects%}
<section id="own-projects">
  <div class="main own-projects">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table full-height">
            <div class="tablecell valign-top">
              <h1>{{ site.navigation[page.lang].own-projects.title }}</h1>
              <div id="own-projects-APIsAR" class="">
                <div class="container">
                  <div class="row equal">
                    <div class="col-md-8 col-xs-12 col-sm-12">

                      <header>
                      <div>
                        <h3 class="own-projects-logo" aria-hidden="true">
                          <strong><img src="{{ site.baseurl }}/img/APIsAR-logo.png" alt="" class="img-responsive"></strong>
                        </h3>
                        <h3 class="own-projects">
                          <a href="http://meetup.com/APIsAR" target="_blank">{{ own-projects.apisar }}</a>
                        </h3>
                        <h4 class="own-projects"><strong>{{ own-projects.apisar-role }}</strong></h4>
                      </div>

                    </header>

                    <p>
                      {{ own-projects.apisar-desc }}
                      </p>

                      <h4 class="own-projects-subtitle">{{ own-projects.gallery }}</h4>


                      <div class="responsive">
                        <div class="img">
                          <a target="_blank" href="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-1.jpg">
                            <img src="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-1-thumb.jpg">
                          </a>
                        </div>
                      </div>

                      <div class="responsive">
                        <div class="img">
                          <a target="_blank" href="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-2.jpg">
                            <img src="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-2-thumb.jpg">
                          </a>
                        </div>
                      </div>

                      <div class="responsive">
                        <div class="img">
                          <a target="_blank" href="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-3.jpg">
                            <img src="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-3-thumb.jpg">
                          </a>
                        </div>
                      </div>

                      <div class="responsive">
                        <div class="img">
                          <a target="_blank" href="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-4.jpg">
                            <span><img src="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-4-thumb.jpg"><span>
                          </a>
                        </div>
                      </div>

                      <div class="responsive">
                        <div class="img">
                          <a target="_blank" href="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-5.jpg">
                            <img src="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-5-thumb.jpg" alt="Mountains" width="600" height="400">
                          </a>
                        </div>
                      </div>

                      <div class="responsive">
                        <div class="img">
                          <a target="_blank" href="img_mountains.jpg">
                            <iframe src="https://www.youtube.com/embed/htzNbVDUMYM" frameborder="0" allowfullscreen></iframe>
                          </a>
                        </div>
                      </div>



        <div class="clearfix"></div>




                      <script>
                      $('.img').magnificPopup({
                        delegate: 'a', // child items selector, by clicking on it popup will open
                        type: 'image'
                        // other options
                      });
                      </script>

                      <h4 class="own-projects-subtitle">{{ own-projects.links }}</h4>
                      <ul>
                        <li>{{ own-projects.meetup-space }}: <a href="http://meetup.com/APIsAR" target="_blank">http://meetup.com/APIsAR</a></li>
                        <li>{{ own-projects.twitter-account }}: <a href="http://twitter.com/APIsArgentina" target="_blank">@APIsARgentina</a></li>
                        <li>{{ own-projects.facebook-page }}: <a href="https://www.facebook.com/APIsArgentina/" target="_blank">APIsArgentina</a></li>
                        <li>{{ own-projects.youtube-channel }}: <a href="https://www.youtube.com/channel/UCXGY6_mib3hmzz1TQJDoA3A" target="_blank">APIsAR TV</a></li>
                      </ul>


                    </div>

                    <div class="col-md-4 hidden-xs hidden-sm">
                      <img src="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-roll.png" alt="APIsAR" class="roll right" style="width:310px">
                    </div>
                  </div>
                </div>



            </div>
            <hr class="own-projects">


                          <div id="own-projects-nobel" class="">
                            <div class="container">
                              <div class="row equal">
                                <div class="col-md-4 hidden-xs hidden-sm">
                                  <img src="{{ site.baseurl }}/img/own-projects/nobel/nobel-roll.png" alt="APIsAR" class="roll left" >
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-12">

                                  <header>
            <div>
                                  <h3 class="own-projects-logo" aria-hidden="true">
                                    <strong><img src="{{ site.baseurl }}/img/nobel-logo.png" style="background-color: #000000" alt="" class="img-responsive"></strong>
                                  </h3>
                                  <span class="own-projects">
                                    <h3 class="own-projects">
                                      <a href="http://nohorbee.github.io/nobel" target="_blank">{{ own-projects.nobel }}</a>
                                    </h3>
                                    <h4 class="own-projects"><strong>{{ own-projects.nobel-role }}</strong></h5>
                                  </span>
                                </div>
                                </header>

                                <p>
                                    {{ own-projects.nobel-desc }}
                                </p>

                                <h4 class="own-projects-subtitle">{{ own-projects.gallery }}</h4>

                                <div class="responsive">
                                  <div class="img">
                                    <a target="_blank" href="{{ site.baseurl }}/img/own-projects/nobel/nobel-1.jpg">
                                      <img src="{{ site.baseurl }}/img/own-projects/nobel/nobel-1-thumb.jpg">
                                    </a>
                                  </div>
                                </div>

                                <div class="responsive">
                                  <div class="img">
                                    <a target="_blank" href="{{ site.baseurl }}/img/own-projects/nobel/nobel-3.png">
                                      <img src="{{ site.baseurl }}/img/own-projects/nobel/nobel-3-thumb.png">
                                    </a>
                                  </div>
                                </div>

                                <div class="responsive">
                                  <div class="img">

                                      <iframe src="https://www.youtube.com/embed/QJVfon7BZi0" frameborder="0" allowfullscreen></iframe>

                                  </div>
                                </div>

                                <div class="clearfix"></div>


                                <script>
                                $('.img').magnificPopup({
                                  delegate: 'a', // child items selector, by clicking on it popup will open
                                  type: 'image'
                                  // other options
                                });
                                </script>



                                <h4 class="own-projects-subtitle">{{ own-projects.links }}</h4>
                                <ul>
                                <li>{{ own-projects.nobel-home }}: <a href="http://nohorbee.github.io/nobel" target="_blank">http://nohorbee.github.io/nobel</a></li>
                                <li>{{ own-projects.github-repo }}: <a href="http://github.com/nohorbee/nobel" target="_blank">http://github.com/nohorbee/nobel</a></li>
                                <li>{{ own-projects.npm-repo }}: <a href="https://www.npmjs.com/nobel/" target="_blank">https://www.npmjs.com/nobel/</a></li>
                                <li>{{ own-projects.blog-posts }}:
                                  <ul>
                                    <li><a href="http://ourbit.github.io/en/2016/04/24/nobel-02-swagger-support/" target="_blank">Nobel 0.2 supports Swagger and RAML</a></li>
                                    <li><a href="https://engineering.medallia.com/blog/do-iot-yourself-in-20-minutes/" target="_blank">Do IoT yourself in 20 minutes</a></li>
                                    <li><a href="http://blogs.mulesoft.com/dev/api-dev/arduino-honor-the-future/" target="_blank">Let's honor the future</a></li>
                                  </ul>
                                </ul>
                                </div>
                              </div>
                            </div>




                        </div>


                        <hr class="own-projects">






                        <div id="own-projects-articles" class="">
                          <div class="container">
                            <div class="row equal">
                              <div class="col-md-8 col-xs-12 col-sm-12">
                                <header>
                                  <div>
                                <h3 class="own-projects-logo" aria-hidden="true">
                                  <strong><img src="{{ site.baseurl }}/img/articles-logo.png" class="img-responsive"></strong>
                                </h3>
                                <span class="own-projects">
                                  <h3 class="own-projects">
                                    <a href="http://nohorbee.github.io/nobel" target="_blank">{{ own-projects.articles }}</a>
                                  </h3>
                                  <h4 class="own-projects"><strong>{{ own-projects.articles-role }}</strong></h5>
                                </span>
                              </div>
                              </header>

                              <p>
                                {{ own-projects.articles-desc }}
                              </p>


                              <h4 class="own-projects-subtitle">{{ own-projects.gallery }}</h4>

                              <div class="responsive">
                                <div class="img">
                                  <a target="_blank" href="{{ site.baseurl }}/img/own-projects/articles/articles-1.jpg">
                                    <img src="{{ site.baseurl }}/img/own-projects/articles/articles-1-thumb.jpg">
                                  </a>
                                </div>
                              </div>

                              <div class="responsive">
                                <div class="img">
                                  <a target="_blank" href="{{ site.baseurl }}/img/own-projects/articles/articles-2.jpg">
                                    <img src="{{ site.baseurl }}/img/own-projects/articles/articles-2-thumb.jpg">
                                  </a>
                                </div>
                              </div>

                              <div class="responsive">
                                <div class="img">
                                  <a target="_blank" href="{{ site.baseurl }}/img/own-projects/articles/articles-3.jpg">
                                    <img src="{{ site.baseurl }}/img/own-projects/articles/articles-3-thumb.jpg">
                                  </a>
                                </div>
                              </div>

                              <div class="clearfix"></div>


                              <script>
                              $('.img').magnificPopup({
                                delegate: 'a', // child items selector, by clicking on it popup will open
                                type: 'image'
                                // other options
                              });
                              </script>


                              <h4 class="own-projects-subtitle">{{ own-projects.links }}</h4>
                              <ul>
                                <li><a href="http://engineering.medallia.com/blog/do-iot-yourself-in-20-minutes/" target="_blank">Do IoT yourself in 20 minutes - Medallia Blog</a></li>
                                <li><a href="http://blogs.mulesoft.com/author/norberto-herz/" target="_blank">Norberto Herz ({{ own-projects.several }}) - MuleSoft Blog</a></li>
                                <li><a href="http://raml.org/blogs/osprey-out" target="_blank">Osprey is Out - RAML Blog</a></li>
                                <li><a href="http://raml.org/blogs/new-community-projects" target="_blank">New Community projects - RAML Blog</a></li>
                                <li><a href="http://raml.org/blogs/mocking-service-walkthrough" target="_blank">Mocking Service walkthrough - RAML Blog</a></li>

                              </ul>
                              </div>
                              <div class="col-md-4 hidden-xs hidden-sm">
                                <img src="{{ site.baseurl }}/img/own-projects/articles/articles-roll.png" alt="Articles" class="roll left" style="width:310px">
                              </div>
                            </div>
                          </div>




                        </div>


                        <hr class="own-projects">






                        <div id="own-projects-arduino-helpers" class="">
                          <div class="container">
                            <div class="row equal">
                              <div class="col-md-4 hidden-xs hidden-sm">
                                <img src="{{ site.baseurl }}/img/own-projects/arduino-helpers/arduino-helpers-roll.png" alt="Articles" class="roll left" style="width:310px">
                              </div>
                              <div class="col-md-8 col-xs-12 col-sm-12">
                                <header>
                                  <div>
                                <h3 class="own-projects-logo" aria-hidden="true">
                                  <strong><img src="{{ site.baseurl }}/img/arduino-helpers-logo.jpg" style="background-color: #000000" alt="" class="img-responsive"></strong>
                                </h3>
                                <span class="own-projects">
                                  <h3 class="own-projects">
                                    <a href="http://nohorbee.github.io/nobel" target="_blank">{{ own-projects.arduino-helpers }}</a>
                                  </h3>
                                  <h4 class="own-projects"><strong>{{ own-projects.arduino-helpers-role }}</strong></h5>
                                </span>
                              </div>
                              </header>

                              <p>
                                {{ own-projects.arduino-helpers-desc }}
                              </p>




                              <h4 class="own-projects-subtitle">{{ own-projects.links }}</h4>
                              <ul>
                                <li><a href="https://github.com/nohorbee/arduino-helpers" target="_blank">{{ own-projects.arduino-helpers-github-repo }}</a></li>
                              </ul>

                              </div>

                            </div>
                          </div>




                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </section>
