<section id="own-projects">
  <div class="main own-projects">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table full-height">
            <div class="tablecell valign-top">
              <h1>{% t navigation.own-projects %}</h1>   
              <div id="own-projects-APIsAR" class="">
                <header>
                
                <h3 class="own-projects-logo" aria-hidden="true">
                  <strong><img src="{{ site.baseurl }}/img/APIsAR-logo.png" alt=""></strong>
                </h3>
                <span class="own-projects">
                  <h3 class="own-projects">
                    <a href="http://meetup.com/APIsAR" target="_blank">APIsAR</a>
                  </h3>
                  <h4 class="own-projects"><strong>Meetup Group founder and organizer</strong></h4>
                </span>
                
              </header>
              <p>APIsAR (APIs Argentina) is the first and only Argentine community focused on discussing the world of APIs. 
                The community was officially launched on September 9th, 2014 and at the time of its first event, 
                it had more than 300 members, mostly from Argentina, but also from other Latin American countries, as well as Spain.
                </p>
              
              <h4 class="own-projects-subtitle">Gallery</h4>
              
              <!-- 
              <div class="img-gallery-responsive">
                <div class="img-gallery">
                    <a href="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-1.jpg"><img src="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-1-thumb.jpg"  /></a>
                </div>
              </div>


              <div class="img-gallery-responsive">
                <div class="img-gallery">
                    <a href="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-2.jpg"><img src="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-2-thumb.jpg"  /></a>
                </div>
              </div> -->

              
              <div class="responsive">
                <div class="img">
                  <a target="_blank" href="img_mountains.jpg">
                    <img src="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-1-thumb.jpg">
                  </a>
                </div>
              </div>
              
              <div class="responsive">
                <div class="img">
                  <a target="_blank" href="img_mountains.jpg">
                    <img src="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-2-thumb.jpg">
                  </a>
                </div>
              </div>
              
              <div class="responsive">
                <div class="img">
                  <a target="_blank" href="img_mountains.jpg">
                    <img src="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-3-thumb.jpg">
                  </a>
                </div>
              </div>
              
              <div class="responsive">
                <div class="img">
                  <a target="_blank" href="img_mountains.jpg">
                    <span><img src="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-4-thumb.jpg"><span>
                  </a>
                </div>
              </div>
              
              <div class="responsive">
                <div class="img">
                  <a target="_blank" href="img_mountains.jpg">
                    <img src="{{ site.baseurl }}/img/own-projects/APIsAR/APIsAR-5-thumb.jpg" alt="Mountains" width="600" height="400">
                  </a>
                </div>
              </div>
              
              <div class="responsive">
                <div class="img">
                  <a target="_blank" href="img_mountains.jpg">
                    <iframe src="https://www.youtube.com/embed/htzNbVDUMYM" frameborder="0" allowfullscreen></iframe>
                  </a>
                </div>
              </div>
              
              

<div class="clearfix"></div>
              
              
              
              
              <script>
              $('.img-gallery').magnificPopup({
                delegate: 'a', // child items selector, by clicking on it popup will open
                type: 'image'
                // other options
              });
              </script>
             
            
            
            <h4 class="own-projects-subtitle">Links</h4>
            <ul>
              <li>Meetup space: <a href="http://meetup.com/APIsAR" target="_blank">http://meetup.com/APIsAR</a></li>
              <li>Twitter account: <a href="http://twitter.com/APIsArgentina" target="_blank">@APIsARgentina</a></li>
              <li>Facebook page:<a href="https://www.facebook.com/APIsArgentina/" target="_blank">APIsArgentina</a></li>
              <li>YouTube channel:<a href="https://www.youtube.com/channel/UCXGY6_mib3hmzz1TQJDoA3A" target="_blank">APIsAR TV</a></li>
            </ul>
            
            </div>
            <hr class="experience">
            
            
            
              <div id="own-projects-nobel" class="">
              <header>
              
              <h3 class="own-projects-logo" aria-hidden="true">
                <strong><img src="{{ site.baseurl }}/img/nobel-logo.png" style="background-color: #000000" alt=""></strong>
              </h3>
              <span class="own-projects">
                <h3 class="own-projects">
                  <a href="http://nohorbee.github.io/nobel" target="_blank">Nobel</a>
                </h3>
                <h4 class="own-projects"><strong>Researcher and Developer</strong></h5>
              </span>
              
            </header>
            <p>
                Nobel is a code generator capable of scaffolding an Arduino application exposing a REST API starting with a Swagger or RAML definition.
                It is simple to use even for developers with little experience on Arduino, and the ramp up takes minutes. <br />
                I built the first version of this tool during a free-style hackathon, and ocasionally maintained it and added some features.
            </p>

            <h4 class="own-projects-subtitle">Gallery</h4>
            
            <div class="responsive">
              <div class="img">
                <a target="_blank" href="img_mountains.jpg">
                  <img src="{{ site.baseurl }}/img/own-projects/nobel/nobel-1-thumb.jpg">
                </a>
              </div>
            </div>
            
            <div class="responsive">
              <div class="img">
                <a target="_blank" href="img_mountains.jpg">
                  <img src="{{ site.baseurl }}/img/own-projects/nobel/nobel-3-thumb.png">
                </a>
              </div>
            </div>
            
            <div class="responsive">
              <div class="img">
                
                  <iframe src="https://www.youtube.com/embed/QJVfon7BZi0" frameborder="0" allowfullscreen></iframe>
                
              </div>
            </div>
            
            <div class="clearfix"></div>
            

            <script>
            $('.apisar-gallery').magnificPopup({
              delegate: 'a', // child items selector, by clicking on it popup will open
              type: 'image'
              // other options
            });
            </script>



            <h4 class="own-projects-subtitle">Links</h4>
            <ul>
            <li>Nobel Home: <a href="http://nohorbee.github.io/nobel" target="_blank">http://nohorbee.github.io/nobel</a></li>
            <li>GitHub repository: <a href="http://github.com/nohorbee/nobel" target="_blank">http://github.com/nohorbee/nobel</a></li>
            <li>NPM Repository: <a href="https://www.npmjs.com/nobel/" target="_blank">https://www.npmjs.com/nobel/</a></li>
            <li>Blog Posts:
              <ul>
                <li><a href="http://ourbit.github.io/en/2016/04/24/nobel-02-swagger-support/" target="_blank">Nobel 0.2 supports Swagger and RAML</a></li>
                <li><a href="https://engineering.medallia.com/blog/do-iot-yourself-in-20-minutes/" target="_blank">Do IoT yourself in 20 minutes</a></li>
                <li><a href="http://blogs.mulesoft.com/dev/api-dev/arduino-honor-the-future/" target="_blank">Let's honor the future</a></li>
              </ul>
            </ul>

            </div>

            <hr class="experience">
        
        
        
        
        
        
        
        
        
        
        
      
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>








<!-- 




<div id="own-projects-articles" class="">
<header>

<h3 class="own-projects-logo" aria-hidden="true">
  <strong><img src="{{ site.baseurl }}/img/articles-logo.png" style="background-color: #FFFFFF" alt=""></strong>
</h3>
<span class="own-projects">
  <h3 class="own-projects">
    Articles
  </h3>
  <h4 class="own-projects"><strong>Writer</strong></h5>
</span>

</header>
<p>
  Blending my passion for Software Development, Research, Writing and Teaching, I spend a good time writing articles to share some knowledge or interests
  with the Software community. In addition to the posts on my own blog (<a href="http://ourbit.github.io" target="_blank">OurBit</a>), I have contributed to others' blogs
  as well.
</p>


<h4 class="own-projects-subtitle">Links</h4>
<ul>
<li><a href="http://engineering.medallia.com/blog/do-iot-yourself-in-20-minutes/" target="_blank">Do IoT yourself in 20 minutes - Medallia Blog</a></li>
<li><a href="http://blogs.mulesoft.com/author/norberto-herz/" target="_blank">Norberto Herz (several) - MuleSoft Blog</a></li>
<li><a href="http://raml.org/blogs/osprey-out" target="_blank">Osprey is Out - RAML Blog</a></li>
<li><a href="http://raml.org/blogs/new-community-projects" target="_blank">New Community projects - RAML Blog</a></li>
<li><a href="http://raml.org/blogs/mocking-service-walkthrough" target="_blank">Mocking Service walkthrough - RAML Blog</a></li>
</ul>

</div>

<hr class="experience">  


<div id="own-projects-arduino-helpers" class="">
<header>

<h3 class="own-projects-logo" aria-hidden="true">
<strong><img src="{{ site.baseurl }}/img/arduino-helpers-logo.jpg" style="background-color: #000000" alt=""></strong>
</h3>
<span class="own-projects">
<h3 class="own-projects">
  Arduino Helpers
</h3>
<h4 class="own-projects"><strong>Researcher and Developer</strong></h5>
</span>

</header>
<p>
Arduino Helpers is a set of libraries that let any developer to deal with some electronic components (Arduino compatible) in a higher level manner. 
By using these libraries, the electronic components are modeled as classes and objects and can encapuslate their own behavior. <br />
This is a community project which main goal is to provide some tools for other developers. As a side effect, it is expected that other developers start
contributig to the repository in order to make a big and seasoned library.
</p>


<h4 class="own-projects-subtitle">Links</h4>
<ul>
<li><a href="http://engineering.medallia.com/blog/do-iot-yourself-in-20-minutes/" target="_blank">Do IoT yourself in 20 minutes - Medallia Blog</a></li>
<li><a href="http://blogs.mulesoft.com/author/norberto-herz/" target="_blank">Norberto Herz (several) - MuleSoft Blog</a></li>
<li><a href="http://raml.org/blogs/osprey-out" target="_blank">Osprey is Out - RAML Blog</a></li>
<li><a href="http://raml.org/blogs/new-community-projects" target="_blank">New Community projects - RAML Blog</a></li>
<li><a href="http://raml.org/blogs/mocking-service-walkthrough" target="_blank">Mocking Service walkthrough - RAML Blog</a></li>
</ul>

</div> --> 